OTELCOL_OPTIONS=""

SPLUNK_CONFIG="{{splunk_collector_config_path}}"

SPLUNK_HEC_URL="{{splunk_hec_url}}"

SPLUNK_MEMORY_TOTAL_MIB="{{splunk_memory_limit_mib}}"

SPLUNK_LISTEN_INTERFACE="{{splunk_listen_interface}}"