server {
    listen 3002;
    server_name localhost;

    location / {
        proxy_pass http://localhost:3000/;
        include proxy_params;
    }

    location /api/ {
        proxy_pass http://192.168.50.3:3001/;
        include proxy_params;
        proxy_set_header Cookie $http_cookie;
    }
}